[Competitive Data Science Kaggle Competition](https://www.kaggle.com/c/competitive-data-science-final-project)

In [1]:
%load_ext autoreload
%autoreload 2

%matplotlib inline

In [2]:
from fastai.imports import *
from fastai.structured import *

from pandas_summary import DataFrameSummary
from sklearn.ensemble import RandomForestRegressor
from IPython.display import display

from sklearn import metrics

In [3]:
PATH = 'data/'
!ls {PATH}

item_categories.csv      sales_train.csv.gz       test.csv
items.csv                sample_submission.csv.gz test.csv.gz
sales_train.csv          shops.csv

In [4]:
df_raw = pd.read_csv(f'{PATH}sales_train.csv', low_memory=False, 
                     parse_dates=["date"])

In [6]:
df_raw.sort_values(by='date')

              date  date_block_num  shop_id  item_id  item_price  item_cnt_day
109593  2013-01-01               0       46    18616       349.0           1.0
85162   2013-01-01               0       54    11854       199.0           1.0
18128   2013-01-01               0       28     4906      1799.0           1.0
112216  2013-01-01               0       42     2931        99.0           1.0
85141   2013-01-01               0       54    11604       349.0           1.0
47143   2013-01-01               0       15     3686       899.0           1.0
85130   2013-01-01               0       54    11576       149.0           1.0
85129   2013-01-01               0       54    11573       148.0           1.0
85124   2013-01-01               0       54    11562       299.0           1.0
85115   2013-01-01               0       54    11822       349.0           1.0
107443  2013-01-01               0       37    22087        79.0           2.0
18195   2013-01-01               0       28     5272       598.5           1.0
47150   2013-01-01               0       15     3698       598.5           1.0
18204   2013-01-01               0       28     4886       899.0           2.0
47156   2013-01-01               0       15     3702       599.0           1.0
18213   2013-01-01               0       28     4481      1698.7           1.0
85095   2013-01-01               0       54    11172       149.0           1.0
85093   2013-01-01               0       54    10852        58.0           1.0
47171   2013-01-01               0       15     4161       899.0           2.0
47200   2013-01-01               0       15     3870       599.0           1.0
47203   2013-01-01               0       15     3652       199.0           1.0
85067   2013-01-01               0       54    11305       499.0           1.0
47224   2013-01-01               0       15     5643      2390.0           1.0
53336   2013-01-01               0        8     6372       299.0           1.0
85051   2013-01-01               0       54    11323       299.0           1.0
47271   2013-01-01               0       15     5583       699.0           1.0
107472  2013-01-01               0       38     4885      1499.0           1.0
47281   2013-01-01               0       15     6468       449.0           1.0
107421  2013-01-01               0       37    22088        79.0           4.0
47111   2013-01-01               0       15     3719       599.0           1.0
...            ...             ...      ...      ...         ...           ...
2905480 2015-12-10              33       55     1588       299.0           1.0
2926454 2015-12-10              33       31    11973        58.0           1.0
2934239 2015-12-10              33       25     3917       449.0           1.0
2898435 2015-12-10              33       58    19144       399.0           1.0
2898518 2015-12-10              33       58    10216       149.0           1.0
2898430 2015-12-10              33       58    19439      3198.0           1.0
2915875 2015-12-10              33        6     6247       449.0           1.0
2916074 2015-12-10              33        5    17772       999.0           1.0
2916064 2015-12-10              33        5    17717      2599.0           1.0
2929328 2015-12-10              33       21    14802      1499.0           1.0
2905708 2015-12-10              33       53    13294       429.0           1.0
2916019 2015-12-10              33        6      486       300.0           1.0
2915998 2015-12-10              33        5    21441       199.0           1.0
2929343 2015-12-10              33       21    14839       249.0           1.0
2918154 2015-12-10              33       12     8454      4990.0           1.0
2919119 2015-12-10              33       12     1916       249.0           1.0
2922567 2015-12-10              33       28      988       199.0           1.0
2929362 2015-12-10              33       21    15067      5499.0           1.0
2920419 2015-12-10              33        6    10842       399.0           1.0
2905699 2015-12-10              33       53    13278       399.0           1.0
2934358 2015-12-10              33       25     5824       249.0           1.0
2915946 2015-12-10              33        5    20949         5.0           1.0
2919113 2015-12-10              33       12     2286      2599.0           1.0
2898358 2015-12-10              33       58    20949         5.0           2.0
2915900 2015-12-10              33        6     7393       349.0           1.0
2915898 2015-12-10              33        6     7390       349.0           1.0
2915896 2015-12-10              33        6     7350       349.0           1.0
2922604 2015-12-10              33       28    10304       199.0           1.0
2915871 2015-12-10              33        6     6798      1849.0           1.0
2898514 2015-12-10              33       58    10207      1199.0           1.0

[2935849 rows x 6 columns]

In [8]:
add_datepart(df_raw, 'date')

Store the df to a file.

In [9]:
os.makedirs('tmp', exist_ok=True)
df_raw.to_feather('tmp/data-raw')

In [11]:
df_raw

,date_block_num,shop_id,item_id,item_price,item_cnt_day,Year,Month,Week,Day,Dayofweek,Dayofyear,Is_month_end,Is_month_start,Is_quarter_end,Is_quarter_start,Is_year_end,Is_year_start,Elapsed
0,0,59,22154,999.00,1.0,2013,2,5,1,4,32,False,True,False,False,False,False,1359676800
1,0,25,2552,899.00,1.0,2013,3,9,1,4,60,False,True,False,False,False,False,1362096000
2,0,25,2552,899.00,-1.0,2013,5,18,1,2,121,False,True,False,False,False,False,1367366400
3,0,25,2554,1709.05,1.0,2013,6,22,1,5,152,False,True,False,False,False,False,1370044800
4,0,25,2555,1099.00,1.0,2013,1,3,15,1,15,False,False,False,False,False,False,1358208000
5,0,25,2564,349.00,1.0,2013,10,40,1,1,274,False,True,False,True,False,False,1380585600
6,0,25,2565,549.00,1.0,2013,2,5,1,4,32,False,True,False,False,False,False,1359676800
7,0,25,2572,239.00,1.0,2013,4,14,1,0,91,False,True,False,True,False,False,1364774400
8,0,25,2572,299.00,1.0,2013,11,44,1,4,305,False,True,False,False,False,False,1383264000
9,0,25,2573,299.00,3.0,2013,3,9,1,4,60,False,True,False,False,False,False,1362096000
10,0,25,2574,399.00,2.0,2013,3,9,1,4,60,False,True,False,False,False,False,1362096000
11,0,25,2574,399.00,1.0,2013,5,18,1,2,121,False,True,False,False,False,False,1367366400
12,0,25,2574,399.00,1.0,2013,7,27,1,0,182,False,True,False,True,False,False,1372636800
13,0,25,2574,399.00,2.0,2013,8,31,1,3,213,False,True,False,False,False,False,1375315200
14,0,25,2574,399.00,1.0,2013,10,40,1,1,274,False,True,False,True,False,False,1380585600
15,0,25,2574,399.00,2.0,2013,11,44,1,4,305,False,True,False,False,False,False,1383264000
16,0,25,2574,399.00,1.0,2013,1,2,13,6,13,False,False,False,False,False,False,1358035200
17,0,25,2574,399.00,1.0,2013,1,3,16,2,16,False,False,False,False,False,False,1358294400
18,0,25,2574,399.00,1.0,2013,1,4,26,5,26,False,False,False,False,False,False,1359158400
19,0,25,2574,399.00,1.0,2013,1,4,27,6,27,False,False,False,False,False,False,1359244800
20,0,25,2593,279.00,1.0,2013,9,35,1,6,244,False,True,False,False,False,False,1377993600
21,0,25,2604,299.00,1.0,2013,1,3,16,2,16,False,False,False,False,False,False,1358294400
22,0,25,2604,299.00,1.0,2013,1,4,27,6,27,False,False,False,False,False,False,1359244800
23,0,25,2607,279.00,1.0,2013,1,4,27,6,27,False,False,False,False,False,False,1359244800
24,0,25,2607,279.00,1.0,2013,1,5,29,1,29,False,False,False,False,False,False,1359417600
25,0,25,2609,1699.00,1.0,2013,1,4,27,6,27,False,False,False,False,False,False,1359244800
26,0,25,2548,1708.95,1.0,2013,6,22,1,5,152,False,True,False,False,False,False,1370044800
27,0,25,2611,299.00,1.0,2013,1,4,26,5,26,False,False,False,False,False,False,1359158400
28,0,25,2546,299.00,1.0,2013,2,5,1,4,32,False,True,False,False,False,False,1359676800
29,0,25,2515,1649.00,1.0,2013,6,22,1,5,152,False,True,False,False,False,False,1370044800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2935819,33,25,7789,1799.00,1.0,2015,10,42,16,4,289,False,False,False,False,False,False,1444953600
2935820,33,25,7790,799.00,1.0,2015,10,43,22,3,295,False,False,False,False,False,False,1445472000
2935821,33,25,7791,899.50,1.0,2015,10,43,22,3,295,False,False,False,False,False,False,1445472000
2935822,33,25,7632,2310.00,1.0,2015,10,42,17,5,290,False,False,False,False,False,False,1445040000
2935823,33,25,7487,299.00,1.0,2015,10,44,26,0,299,False,False,False,False,False,False,1445817600
2935824,33,25,7029,999.00,1.0,2015,10,42,14,2,287,False,False,False,False,False,False,1444780800
2935825,33,25,7460,299.00,1.0,2015,10,43,23,4,296,False,False,False,False,False,False,1445558400
2935826,33,25,7233,599.00,1.0,2015,4,15,10,4,100,False,False,False,False,False,False,1428624000
2935827,33,25,7308,349.00,1.0,2015,10,42,18,6,291,False,False,False,False,False,False,1445126400
2935828,33,25,7233,479.00,1.0,2015,10,43,21,2,294,False,False,False,False,False,False,1445385600
2935829,33,25,7233,599.00,1.0,2015,3,11,10,1,69,False,False,False,False,False,False,1425945600
2935830,33,25,7286,299.00,1.0,2015,11,46,10,1,314,False,False,False,False,False,False,1447113600
2935831,33,25,7187,299.00,1.0,2015,10,43,22,3,295,False,False,False,False,False,False,1445472000
2935832,33,25,7484,299.00,1.0,2015,10,44,26,0,299,False,False,False,False,False,False,1445817600
2935833,33,25,7308,349.00,1.0,2015,10,43,22,3,295,False,False,False,False,False,False,1445472000
2935834,33,25,7235,298.00,1.0,2015,10,44,29,3,302,False,False,False,False,False,False,1446076800
2935835,33,25,7327,349.00,1.0,2015,10,42,18,6,291,False,False,False,False,False,False,1445126400
2935836,33,25,7327,349.00,1.0,2015,10,43,22,3,295,False,False,False,False,False,False,1445472000
2935837,33,25,7328,249.00,1.0,2015,10,43,24,5,297,False,False,False,False,False,False,1445644800
2935838,33,25,7338,349.00,1.0,2015,10,42,17,5,290,False,False,False,False,False,False,1445040000
2935839,33,25,7315,399.00,1.0,2015,10,43,24,5,297,False,False,False,False,False,False,1445644800
2935840,33,25,7409,299.00,1.0,2015,10,44,31,5,304,True,False,False,False,False,False,1446249600
2935841,33,25,7393,349.00,1.0,2015,11,46,10,1,314,False,False,False,False,False,False,1447113600
2935842,33,25,7384,749.00,1.0,2015,10,41,10,5,283,False,False,False,False,False,False,1444435200
2935843,33,25,7409,299.00,1.0,2015,9,37,10,3,253,False,False,False,False,False,False,1441843200
2935844,33,25,7409,299.00,1.0,2015,10,41,10,5,283,False,False,False,False,False,False,1444435200
2935845,33,25,7460,299.00,1.0,2015,9,37,10,3,253,False,False,False,False,False,False,1441843200
2935846,33,25,7459,349.00,1.0,2015,10,42,14,2,287,False,False,False,False,False,False,1444780800
2935847,33,25,7440,299.00,1.0,2015,10,43,22,3,295,False,False,False,False,False,False,1445472000
2935848,33,25,7460,299.00,1.0,2015,3,11,10,1,69,False,False,False,False,False,False,1425945600

In [12]:
last_month_df = (df_raw.Month == 10) & (df_raw.Year == 2015)

In [13]:
len(last_month_df)

2935849

In [14]:
sales_previous_month_df = df_raw[last_month_df].groupby(["shop_id", "item_id"], as_index=False).item_cnt_day.sum().rename(columns={"item_cnt_day": "item_cnt_month"})

In [15]:
sales_previous_month_df.tail()

       shop_id  item_id  item_cnt_month
34096       59    22088             2.0
34097       59    22091             1.0
34098       59    22100             1.0
34099       59    22102             1.0
34100       59    22118             1.0

In [16]:
sales_previous_month_df["item_cnt_month"] = sales_previous_month_df["item_cnt_month"].fillna(0)

In [21]:
len(sales_previous_month_df)

34101

In [19]:
def split_vals(a,n): return a[:n], a[n:]

In [20]:
def rmse(x,y): return math.sqrt(((x-y)**2).mean())

def print_score(m):
    res = [rmse(m.predict(X_train), y_train), rmse(m.predict(X_valid), y_valid),
                m.score(X_train, y_train), m.score(X_valid, y_valid)]
    if hasattr(m, 'oob_score_'): res.append(m.oob_score_)
    print(res)

In [24]:
df, y, nas = proc_df(sales_previous_month_df, 'item_cnt_month')

n_valid = 10000
n_trn = len(df)-n_valid
raw_train, raw_valid = split_vals(df_raw, n_trn)
X_train, X_valid = split_vals(df, n_trn)
y_train, y_valid = split_vals(y, n_trn)

In [43]:
df_trn, y_trn, nas = proc_df(sales_previous_month_df, 'item_cnt_month')

m = RandomForestRegressor(n_jobs=-1)
m.fit(sales_previous_month_df.drop('item_cnt_month', axis=1), sales_previous_month_df.item_cnt_month)
print_score(m)

[4.573125884284436, 1.4338556412693713, 0.91833932995750778, 0.8868877554911756]

### Test csv

In [35]:
test_df = pd.read_csv(f'{PATH}test.csv', low_memory=False)

In [46]:
submission_df = test_df.merge(sales_previous_month_df, on=["shop_id", "item_id"], how="left")[["ID", "item_cnt_month"]]
submission_df['item_cnt_month'] = submission_df['item_cnt_month'].fillna(0).clip(0,20)

In [47]:
submission_df.to_csv('./data/submission.csv', index=False)